@import url(base.css);

@media screen and (max-width: 992px) {

    .logo__container{
        display: flex;
        width:100%;
        align-items: center;
        justify-content: center;
        padding:0;
        margin-bottom: 4rem;
    }

    .logo__img--branco{
        width: 16%
    }

    .wrap-rodape{
        justify-content: space-between;
        width:100%;
        padding: 0;
        flex-wrap: nowrap;
    }

    .wrap-social {
        width: 100%;
        flex-direction: column-reverse;
        align-items: normal;
    }

    .desenvolvedores__titulo--branco{
        width: 30%;
    }

    .desenvolvedores__container {
        display:flex;
        flex-direction: column;  
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 3rem ;
    }

}

@media screen and (max-width: 530px) {

    footer {
        padding: 1rem;
        box-sizing: border-box;
        text-align: center;
    }

    .footer, .wrap-rodape{
        flex-direction: column;
        align-items: center;
    }

    .logo__container{
        justify-content: center;
        margin: 2rem 0;
    }

    .logo__img--branco{
        width: 35%;
    }

    .links__caracteristicas, .links__recursos, .links__empresa, .conjunto__links{
        flex-direction: column;
        padding-bottom: 1rem; 
        line-height: 1.5rem;
        width: 100%;
    }

    .conjunto__links li {
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .link__titulo--branco{
        width: 100%;
        text-align: center;
    }
    
    .wrap-social{
        flex-direction: column-reverse;
    }
    
    .desenvolvedores__titulo--branco{
        justify-content: center;
        width: 100%;
        padding-top: 0;
    }


}