:root {
    --branco: #FFFFFF;

    --destaque: hsl(180, 66%, 49%);
    --secudario: hsl(257, 27%, 26%);

    --erro: hsl(0, 87%, 67%);

    --texto: hsl(257, 7%, 63%);
    --titulo: hsl(255, 11%, 22%);

    --background: hsl(0, 0%, 75%);
    --background-footer: hsl(260, 8%, 14%);
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}