:root {
    --branco: #FFFFFF;
    --preto: #000000;

    --btn-icone: #2bd0d0;
    --fundo-icone: #3b3054;
    --linha: #2acfcf;
    --encurtador-claro: #4b3f6b;
    --encurtador-escuro: #3b3054;

    --sucesso: #30c59b;
    --erro: #f94144;

    --texto: #9e9aa7;
    --titulo-claro: #FFFFFF;
    --titulo-escuro: #34313D;

    --background-claro: #FFFFFF;
    --background-medio: #f0f1f6;
    --background-footer: #232127;

    --font: 'Poppins', sans-serif;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color:#000000;
}

body {
    background-color: gray;
}